body{
    font-family: 'Poppins', sans-serif !important;
}

div.home-card{
    background-color: #1e2e2b;
    height: 100vh;
    color: white !important;
    overflow: auto;
}

@media (max-width: 700px) {
    div.home-card{
        padding: 2rem;
    }
}

@media (max-width: 992px) {
    #track-title{
        font-size: 2rem !important;
    }
    .card-text{
        font-size: 1.2rem !important;
    }
    .home1-img{
        max-height: 400px;
        width: auto;
    }
    .home1-bttn{
        margin:    0% !important;
    }
    #homepage-top{
        margin-top: 0% !important;
    }
    #home-logo{
        max-height: 40px;
        height: auto;
        width: auto;
    }
}

div.home-title{
    background-color: #1e2e2b;
}
.card-title{
    font-weight: 700 !important; 
}
.card-text{
    font-size: 1.4rem ;
}
.card, .col-home{
    background-color: rgba(0, 0, 0, 0) !important;
    border-color: rgba(0, 0, 0, 0) !important;
}

.btn{
    height: 4rem !important;
}

#homepage_top{
    margin-top: 3rem !important;
}

.btn-signup{
    background-color: #FEFAF3 !important;
    color: #856b3e !important;
    font-weight: 600 !important;
    border-color: #FEFAF3 !important;
    margin-bottom: 1rem;
}

.btn-signup:hover{
    background-color: rgba(254, 250, 243, 0) !important;
    color: #FEFAF3 !important;
}

.btn-login{
    color: #e0ad55 !important;
    font-weight: 600 !important;
    border-color: #e0ad55 !important;
    margin-bottom: 1rem;
}
.btn-login:hover{
    background-color: #e0ad55 !important;
    color: #FEFAF3 !important;
}
