.status-pending,
.status-completed,
.status-cancelled{
    font-size: 0.85em !important;
    font-weight: 500 !important;
    color: white !important;

}

.status-pending{
    background-color: rgb(231, 201, 29) !important;
}
.status-completed{
    background-color: rgb(33, 185, 109) !important;
}

th .status-cancelled, th .status-completed, th .status-pending{
    font-size: 0.95em !important;
    font-size: 600 !important;
}