table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card {
  border-radius: .5rem;
}

.status{
    display : inline-block;
    vertical-align : middle;
}

div.order-card table{
    font-size: 0.8rem;
    color: #606a67;
}

div.order-card table thead tr:first-child th{
    background-color: #eeeeee;
}

.btn{
    font-size: inherit !important;
    padding: 0% 0.5rem 0% !important;
}


.btn-success{
    background-color: #58b397 !important;
    border-color: #58b397 !important;;
}

.btn-success:hover{
    background-color: #3b7060 !important;
    border-color: #3b7060 !important;;
}

div.modal-header{
    background-color: #606a67 !important;
    border-top-right-radius: inherit !important;
    border-top-left-radius: inherit !important;
    color: white;
    border: 0px !important;
}

.btn-primary{
    background-color: #A88850 !important;
    border-color: #A88850 !important;
}

.btn-primary:hover{
    background-color: #856b3e !important;
    border-color: #856b3e !important;
}

div.modal-content{
    border-radius: 2rem !important;
    border: 0px !important;
}

.close-bttn{
    background-color: #606a67 !important;
}

.page-link{
    color: #606a67 !important;
    border-color: rgba(96, 106, 103, 0.3) !important;
}

.active .page-link{
    background-color: #606a67 !important;
    color: white !important;
}

.pagination .disabled .page-link{
    color: rgb(216, 216, 216) !important;
}

option:hover{
    background-color: #606a67 !important;
}