:root{
    --icon_blue: #0096BC;
    --icon_yellow: #F9AD01;
    --icon_orange: #ee7a40;
    --icon_violet: #A245F6;
    --card_invsumm: #606A67;
}

body{
    font-family: 'Poppins', sans-serif !important;
    margin: 2rem;
    background-color: #f5f5f5 !important;
    color: rgb(95, 95, 95) !important;
}

.card{
    border: 0px !important;
}

.icon-blue {
    color:  var(--icon_blue)
}

.icon-yellow {
    color: var(--icon_yellow);
}

.icon-violet {
    color: var(--icon_violet);
}

.icon-orange {
    color: var(--icon_orange);
}

.card.inv_summ-items, 
.card.card.inv_summ-categories, 
.card.card.inv_summ-quantity,
.card.card.inv_summ-value{
    margin-top: 0.4rem;
    border-radius: 1rem !important;
    min-width: 254px;
}

.card.inv_summ-items{
    border-left: 0.4rem solid var(--icon_blue) !important;
}

.card.inv_summ-categories{
    border-left: 0.4rem solid var(--icon_yellow) !important;
}

.card.inv_summ-quantity{
    border-left: 0.4rem solid var(--icon_violet) !important;
}
.card.inv_summ-value{
    border-left: 0.4rem solid var(--icon_orange) !important;
}

.title-invsumm, .title-top5, .title-recact, .title-report, .title-recsales{
    font-size: 1.05rem;
    font-weight: 600;
    color: rgb(119, 118, 118);
}
div#card-charts{
    min-width: 330px;
}
.card.top5{
    width: inherit; 
    margin: 0.3rem; 
    border-radius: 1rem; 
    padding: 0%;
    background-color: #707e7a;
}
.card-img-top.item-top5{
    object-fit:cover;
    object-position: center;
    height:200px;
    border-radius:  inherit !important;
    padding: 5px;
    margin: 0%;
}

div.card.top5 .card-body *{
    color: white;
}

div.card.top5 .card-body p.card-text{
    font-size: 15px;
}

div.card.top5 .card-body p.card-text span{
    font-weight: 500;
}
    
div.card.top5 .card-body p.card-title{
    font-weight: 500;
    font-size: 1.1rem;
}

a.top5-links{
    text-decoration: none;
}
/*
a.top5-links:hover{
    text-decoration: none;
}*/

.breadcrumb{
    background-color: white !important;
    border:  0.1rem solid rgba(0, 0, 0, 0.1);
    border-radius: 0.8rem;
    margin: 5px !important;
}

.card{
    margin: 0 0.5em;
    box-shadow: 4px 4px 4px 0 rgba(22, 22, 26, 0.05);
    border: none;
}

.card:not(.inv_summ-items, 
.inv_summ-categories, 
.inv_summ-quantity,
.inv_summ-value){
    border-radius: 1rem;
}

.top5-links:hover{
    opacity: 0.85;
}

.row.breadcrumb.rec-act_item a{
    color:#4e6961;
    font-weight: 600;
}

.row.breadcrumb.rec-act_item a:hover{
    text-decoration: none;
    color: #64cfad;
}

#view_all_rec-act{
    text-align: right;
    margin-top: 5px;
}

#view_all_rec-act a{
    text-decoration: none;
    color:#6c9487;
    display: block;
    transition: transform .1s cubic-bezier(0.55, 0, 0.55, 0.2) , color .3s cubic-bezier(0.55, 0, 0.55, 0.2);
    transform-origin: 95% 95%;
}
#view_all_rec-act a:hover{
    text-decoration: none;
    transform: scale(1.05);
    font-weight: 600;
}

.table.rec-sales *{
    border:  none !important;
}

.table.rec-sales tr:nth-child(even){
    background-color: rgba(97, 107, 104, 0.1);
}

.table.rec-sales td:first-child{
    font-weight: 600;
}


.cds-main{
    margin-left: 0%;
    margin-right: 0%;
}

table#table_sales{
    font-size: 0.9rem;
    color: #606a67;
}

a{
    text-decoration: none !important;
}

.col.top-5-col{
    margin-bottom: 2rem;
    min-width: 230px !important;
}

