<!--Notifications -->
<div class="col d-flex justify-content-end align-items-center border-0" >
    <div class="pe-4">
        <button type="button" class="btn position-relative" data-bs-toggle="dropdown" aria-expanded="false" style="padding: 50% !important; background-color: #A88850;" >
            <i class="fa-solid fa-bell" style="color: white"></i>
            {% if notif_items %}
            <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
              <span class="visually-hidden">New alerts</span>
            </span>
            {% endif %}
        </button>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start notif">
            <li class="dropdown-item notif">Notifications</li>
            {% for notif in notif_items %}
                {% if notif.status == 'unread' %}
                    <li>{{ notif.notif|safe }}&nbsp; &nbsp<i class="fa-solid fa-circle" style="color:red;"></i></a></li>
                {% else %}
                    <li>{{ notif.notif|safe }}</li>
                {% endif%}
            {% empty %}
                <li><a class="dropdown-item align-items-center justify-content-start">No Items Yet</a></li>
            {% endfor %}
        </ul>
      </div>
</div>
<!--Views-->
#Get Notitifications
notif_items = Notifications.objects.filter(user=user).order_by('-id')[:5]


<!--ORders-->
#Notify if Stock is == 0
if product.quantity == 0:
    add_notif = Notifications(user=user, 
    notif="<a class='dropdown-item d-flex justify-content-start align-items-center notif' href='inventory'><i class='fa-solid fa-circle-exclamation red'></i>&nbsp;" + product.product + "&nbsp;is Out of Stock.</a>")
    add_notif.save()

#Notify if Stock is < 20
elif product.quantity < 20:
    add_notif = Notifications(user=user, notif="placeholder")
    add_notif.save()
    add_notif.notif = f"<a class='dropdown-item d-flex justify-content-start align-items-center notif' href='notif/{add_notif.id}'><i class='fa-solid fa-circle-exclamation yellow'></i>&nbsp;" + product.product + "&nbsp;is Low on Stock ("+ str(product.quantity)+ product.unit+" Left)."
    add_notif.save()