{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PetSIS: Register</title>
        <link rel="icon" href="{% static 'petsis_app/lib/petsis_logo.png' %}" type="image/png">

        <!--Page CSS Styling-->
        <link href="{% static 'petsis_app/css/style-login.css' %}" rel="stylesheet">

        <!--Boostrap CSS-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    </head>
    
    <body>
        <section class="vh-100" >
            <div class="container-fluid h-custom" style="overflow: hidden !important;">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <!--Image-->
                    <div class="col-md-9 col-lg-6 col-xl-5">
                        <a href="{% url 'homepage' %}">
                            <img src="{% static 'petsis_app/images/login/sign_up.png' %}" class="img-fluid" alt="Sample image">
                        </a>
                    </div>

                    <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 card p-4">
                        <h2 class="mb-5">Register</h2>
                        {% if message %}
                        <div class="alert alert-danger" role="alert">
                          {{message}}
                        </div>
                        {% endif %}
        
                        <form action="{% url 'register' %}" method="POST"> 
                            {% csrf_token %}
                            <div class="form-floating mb-3">
                                <input name="username" autocomplete="off" type="text" class="form-control" id="floatingInput" placeholder="Username" required>
                                <label for="floatingInput">Username</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input name="email" type="email" class="form-control" id="floatingEmail" placeholder="Email">
                                <label for="floatingEmail">Email</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password" required>
                                <label for="floatingPassword">Password</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input name="confirmation" type="password" class="form-control" id="floatingCPassword" placeholder="Password" required>
                                <label for="floatingCPassword">Confirm Password</label>
                            </div>

                
                            <div class="text-center text-lg-start mt-4 pt-2">
                                <input class="btn btn-primary btn-lg" type="submit" value="Sign Up"
                                    style="padding-left: 2.5rem; padding-right: 2.5rem; background-color: 3B4745; border: 1px solid #3B4745;">
                                <p class="small fw-bold mt-2 pt-1 mb-0">Already have an account? <a href="{% url 'login' %}"
                                    class="link-register">Login</a></p>
                            </div>
                        </form>
                    </div> 
                </div>
            </div>
        </section>
            <!----------JS SCRIPT BOOSTRAP---------->
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>

    </body>
</html>
